{# @var meta_entity \K3ssen\GeneratorBundle\MetaData\MetaEntityInterface #}
{# @var generate_options \K3ssen\GeneratorBundle\Generator\CrudGenerateOptions#}
{% set entity_singularized = meta_entity.name|tabalize %}
{% set subdir = generate_options.controllerSubdirectory %}
{% set route_prefix = (subdir ? subdir | tabalize ~  '_': '') ~ entity_singularized %}
{% set route_param = '{' ~ meta_entity.idProperty|default('id') ~ ': ' ~ entity_singularized ~ '.' ~ meta_entity.idProperty|default('id') ~ '}' %}
{% autoescape false %}
{{ "{% extends 'base.html.twig' %}" }}

{{ "{% set title = '"~meta_entity.name~"' %}" }}
{{ "{% set sub_title = 'Edit" ~ (meta_entity.displayProperty ? ' - \' ~' ~entity_singularized : '\'')~" %}" }}

{{ "{% block body %}" }}
    {{ "{{ form_start(form) }}" }}
    {{ "{{ form_widget(form) }}" }}
    <button class="btn btn-primary">Save</button>
    {{ "{{ form_end(form) }}" }}

    <a href="{{"{{ path('"~route_prefix ~"_index') }}" }}" class="btn btn-secondary">
        Overview
    </a>
    <a href="{{ "{{ path('"~route_prefix ~"_show', "~route_param~") }}" }}" class="btn btn-secondary">
        Details
    </a>
    <a href="{{ "{{ path('"~route_prefix ~"_delete', "~route_param~") }}" }}" class="btn btn-danger">
        Delete
    </a>
{{ "{% endblock %}" }}
{% endautoescape %}