{# @var meta_entity \K3ssen\GeneratorBundle\MetaData\MetaEntityInterface #}
{# @var generate_options \K3ssen\GeneratorBundle\Generator\CrudGenerateOptions #}
{% set entity_singularized = meta_entity.name|tabalize %}
{% set subdir = generate_options.controllerSubdirectory %}
{% set route_prefix = (subdir ? subdir | tabalize ~  '_': '') ~ entity_singularized %}
{% autoescape false %}
{% use '@Generator/skeleton/templates/_index_table.html.twig.twig' %}
{{ "{# @var "~entity_singularized~" \\"~meta_entity.fullClassName~" #}" }}
{{ "{% extends 'base.html.twig' %}" }}

{{ "{% set title = '"~meta_entity.name~"' %}" }}
{{ "{% set sub_title = 'Overview' %}" }}

{{ "{% block body %}" }}
    <h1>{{ meta_entity.name }} <small>Overview</small></h1>
{% block index_table %}
{{ parent() }}
{% endblock %}
    <a href="{{"{{ path('"~route_prefix ~"_new') }}" }}" class="btn btn-success">New</a>
{{ "{% endblock %}" }}
{% endautoescape %}