{# @var meta_entity \K3ssen\GeneratorBundle\MetaData\MetaEntityInterface #}
{% set entity_singularized = meta_entity.name|tableize %}
{% set subdir = generate_options.controllerSubdirectory %}
{% set route_prefix = (subdir ? subdir | tableize ~  '_': '') ~ entity_singularized %}
{% set route_param = '{' ~ meta_entity.idProperty|default('id') ~ ': ' ~ entity_singularized ~ '.' ~ meta_entity.idProperty|default('id') ~ '}' %}
{% block vars %}
{{ "{# @var "~entity_singularized~" \\"~meta_entity.fullClassName~" #}" }}
{% endblock %}
{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock %}

{% block title %}
{{ "{% set title = '"~meta_entity.name~"' %}" }}
{{ "{% set sub_title = 'New' %}" }}
{% endblock %}

{% block body %}
{{ "{% block body %}" }}
{% block form %}
    {{ "{{ form_start(form) }}" }}
    {{ "{{ form_widget(form) }}" }}
    <button class="btn btn-primary">Save</button>
    {{ "{{ form_end(form) }}" }}
{% endblock %}

{% block actions %}
    <a href="{{"{{ path('"~route_prefix ~"_index') }}" }}" class="mt-5 btn btn-secondary">
        Overview
    </a>
{% endblock %}
{{ "{% endblock %}" }}
{% endblock %}