{# @var meta_entity \K3ssen\GeneratorBundle\MetaData\MetaEntityInterface #}
{% set entity_singularized = meta_entity.name|tabalize %}
{% autoescape false %}
{{ "{# @var "~entity_singularized~" \\"~meta_entity.fullClassName~" #}" }}
{{ "{% extends 'base.html.twig' %}" }}

{{ "{% set title = '"~meta_entity.name~"' %}" }}
{% if meta_entity.displayProperty %}
{{ "{% set sub_title = "~entity_singularized~" %}" }}
{% endif %}

{{ "{% block content %}" }}
    {{ "{% embed '@BaseAdmin/components/entity_box.html.twig' with {title: 'Details', entity: "~entity_singularized~", vote: "~(generate_options.usingVoters?'true':'false')~"} %}"  }}
{%- for property in meta_entity.properties %}
{# @var property \K3ssen\GeneratorBundle\MetaData\Property\MetaPropertyInterface #}
    {%- set getter = entity_singularized ~ '.' ~ property.name %}
    {%- if property.ormType in 'OneToManyToMany' %}

        {{ "{% embed '@BaseAdmin/components/static_field_row.html.twig' with {title: '"~property.name~"'} %}"}}
            <ul>
                {{ '{% for ' ~ property.name|singularize|tabalize ~ ' in ' ~ getter ~ ' %}' }}
                <li>{{ '{{ ' ~ property.name|singularize|tabalize ~ ' }}' }}</li>
                {{ '{% endfor %}' }}
            </ul>
        {{ "{% endembed %}" }}
    {%- else %}
        {%- set filter = null %}
        {%- if property.ormType in ['datetime'] -%}
            {% set filter = "|date('Y-m-d H:i:s')" -%}
        {%- elseif property.ormType in ['date'] -%}
            {% set filter = "|date('Y-m-d')" -%}
        {%- elseif property.ormType in ['time'] -%}
            {% set filter = "|date('H:i:s')" -%}
        {%- elseif property.ormType in ['array'] -%}
            {% set filter = "|join(, )" -%}
        {%- elseif property.ormType in ['boolean'] -%}
            {% set getter = getter ~ " ? 'Yes' : 'No'" -%}
        {%- elseif property.ormType in ['text'] -%}
            {% set filter = "|nl2br" %}
        {%- endif %}

        {{ "{{ static_field_row('"~property.name~"', "~getter~ filter|default('') ~") }}" -}}
    {%- endif %}
{% endfor %}

    {{ "{% endembed %}" }}
{{ "{% endblock %}" }}
{% endautoescape %}